.b4__input
    justify-content: center
    text-align: center

@media screen and (max-width: 426px)
    

@media screen and (min-width: 426px)
    .b4__input
        justify-content: center
        text-align: center