

*
    margin: 0
    padding: 0
    box-sizing: content-box
    font-family: 'Roboto', sans-serif

a
    text-decoration: none

body
    background-size: cover
    background-repeat: no-repeat

section 
    width: 100%
    max-width: 1024px
    padding-top: 20px
    padding-bottom: 20px
    margin: 0 auto
    justify-content: center
    position: relative
    
input, textarea, select
    width: 100%
    padding: 5px
    margin: 5px 0
    font-size: 15px

button
    background-color: black
    min-width: 90px
    color: white
    border-radius: 10px
    cursor: pointer