@media screen and (max-width: 426px)
    .b2 
        background-color: $color02
    .b2__title
        position: relative
        width: 60%
        margin: 50px auto 10px auto
        text-align: center
        
    .b2__content   
        margin: 0 auto
        width: 90%
        display: grid
        grid-template-columns: 50% 50%
        
    .b2__item   
        width: 90%
        margin: 20px auto 0 auto
        background-color: $color01
        padding: 30px 0
        color: $color02
        text-align: center