$color01: #000000
$color02: #ffffff 
$color03: #9eff9e

*
    margin: 0
    padding: 0
    box-sizing: content-box
section 
    width: 100%
    max-width: 1024px
    padding-top: 20px
    padding-bottom: 20px
    margin: 0 auto
    justify-content: center
    position: relative
a
    text-decoration: none
    color: $color02
    &:hover
        color: $color03
    &:active
        color: $color02
    &:visited
        color: $color02