@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  width: 100%;
  max-width: 1024px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

input, textarea, select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  font-size: 15px;
}

button {
  background-color: black;
  min-width: 90px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.header__wancho {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.header_items {
  display: flex;
  align-items: center;
  right: 0;
  justify-content: end;
  width: 80%;
}

.header_list {
  display: flex;
  list-style: none;
}

.header_item {
  padding: 15px;
}

.header_link {
  text-decoration: none;
  color: #ffffff;
}
.header_link:hover {
  color: #cdff42;
}
.header_link .header {
  height: 90px;
  justify-content: center;
  border-bottom: 2px solid #000000;
}
.header_link .h__logo {
  position: relative;
  width: 20%;
}

@media screen and (max-width: 426px) {
  .header {
    height: 90px;
    justify-content: center;
    border-bottom: 2px solid #000000;
  }
  .header__wancho {
    width: 100%;
  }
  .h__logo {
    position: relative;
    width: 20%;
  }
  .header_item {
    padding: 5px;
  }
}
.footer {
  width: 100%;
  height: 90px;
  justify-content: center;
  border-top: 2px solid #000000;
}

.footer__wancho {
  width: 100%;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_items {
  display: flex;
  right: 0;
  justify-content: end;
  width: 80%;
  order: 2;
  padding: 5px;
}

.footer_list {
  display: flex;
  list-style: none;
}

.footer_item {
  padding: 15px;
}

.footer_link {
  text-decoration: none;
  color: #ffffff;
}
.footer_link:hover {
  color: #cdff42;
}

.f__logo {
  order: 1;
  position: relative;
  height: 90px;
  padding: 15px 15px;
}

@media screen and (max-width: 426px) {
  .footer {
    height: auto;
  }
  .footer__wancho {
    display: block;
  }
  .footer_items {
    justify-content: center;
    width: 100%;
    padding: 20px 0 0 0;
  }
  .footer_list {
    display: block;
  }
  .footer_link {
    display: flex;
    justify-content: center;
  }
  .f__logo {
    display: flex;
    margin: 20px auto;
    padding: 0 0 15px;
  }
}
.b1__card {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.b1__cardleft {
  width: 40%;
}

.b1__cardleft-img {
  width: 100%;
}

.b1__cardrigth-title {
  background-color: #000000;
  width: 60%;
  font-size: 20px;
  color: #ffffff;
}

.b1__cardrigth {
  background-color: #000000;
  width: 60%;
  margin-left: 20px;
  padding: 10px 5px 5px 5px;
}
.b1__cardrigth p {
  color: #ffffff;
}

.b2 {
  background-color: #ffffff;
}

.b2__title {
  position: relative;
  width: 60%;
  margin: 50px auto 10px auto;
  text-align: center;
}

.b2__content {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.b2__item {
  width: 90%;
  margin: 20px auto 0 auto;
  background-color: #000000;
  padding: 30px 0;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 426px) {
  .b2 {
    background-color: #ffffff;
  }
  .b2__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }
  .b2__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .b2__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}
.b3 {
  background-color: #ffffff;
  justify-content: center;
}

.b3__title {
  position: relative;
  width: 60%;
  margin: 10px auto 10px auto;
  text-align: center;
}

.b3__content {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.b3__item {
  width: 90%;
  margin: 20px auto 0 auto;
  background-color: #000000;
  padding: 30px 0;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 426px) {
  .b3 {
    background-color: #ffffff;
    justify-content: center;
  }
  .b3__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }
  .b3__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .b3__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}
.b4__title {
  color: #ffffff;
  text-align: center;
}

.b4__input {
  justify-content: center;
  text-align: center;
}

.b4__input input {
  width: 96%;
}
.b4__input textarea {
  width: 96%;
}

@media screen and (max-width: 1023px) {
  .b4__input {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 426px) {
  .b4__input input {
    width: 80%;
  }
  .b4__input textarea {
    width: 80%;
  }
}
.b6_title {
  margin-bottom: 15px;
}

.b6_content {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
}

.b6_item {
  background-color: #ffffff;
  margin-left: 3px;
  margin-right: 3px;
  width: 50%;
  max-width: 300px;
  padding: 10px;
  min-height: 100px;
  border-radius: 15px;
  position: relative;
}
.b6_item:hover {
  background-color: unset;
}

.b6_item-title {
  align-self: flex-start;
}
.b6_item-title a {
  text-transform: uppercase;
}

.b6_item-views {
  bottom: 5px;
  position: absolute;
}

.b6_item-shadow {
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #103195;
  z-index: -1;
  border-radius: 15px;
}
