@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  width: 100%;
  max-width: 1024px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

input, textarea, select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  font-size: 15px;
}

button {
  background-color: black;
  min-width: 90px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.header__wancho {
  display: flex;
}

.header_items {
  display: flex;
  align-items: center;
  right: 0;
  justify-content: end;
  width: 80%;
}

.header_list {
  display: flex;
  list-style: none;
}

.header_item {
  padding: 15px;
}

.header_link {
  text-decoration: none;
  color: #ffffff;
}
.header_link:hover {
  color: #cdff42;
}

@media screen and (max-width: 1023px) {
  .header {
    height: 90px;
    justify-content: center;
    border-bottom: 2px solid #000000;
  }
  .header__wancho {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  .h__logo {
    position: relative;
    width: 20%;
  }
}
@media screen and (max-width: 426px) {
  .header {
    height: 90px;
    justify-content: center;
    border-bottom: 2px solid #000000;
  }
  .header__wancho {
    width: 100%;
  }
  .h__logo {
    position: relative;
    width: 20%;
  }
  .header_item {
    padding: 5px;
  }
}
.footer {
  width: 100%;
  height: 90px;
  justify-content: center;
  border-top: 2px solid #000000;
}

.footer__wancho {
  display: flex;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_items {
  display: flex;
  right: 0;
  justify-content: end;
  width: 80%;
  order: 2;
  padding: 5px;
}

.footer_list {
  display: flex;
  list-style: none;
}

.footer_item {
  padding: 15px;
}

.footer_link {
  text-decoration: none;
  color: #ffffff;
}
.footer_link:hover {
  color: #cdff42;
}

.f__logo {
  order: 1;
  position: relative;
  height: 90px;
  padding: 15px 15px;
}

@media screen and (max-width: 426px) {
  .footer {
    width: 100%;
    height: auto;
    border-top: 2px solid #000000;
    position: relative;
  }
  .footer__wancho {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .footer_items {
    justify-content: center;
    width: 100%;
  }
  .footer_list {
    display: block;
    list-style: none;
  }
  .footer_item {
    padding: 5px;
  }
  .footer_link {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .f__logo {
    width: 20%;
    display: flex;
    margin: 20px auto;
  }
}
.b5_autopista {
  width: 100%;
  min-height: 200px;
  display: flex;
  position: relative;
}

.b5_auto {
  width: 225px;
  text-align: center;
  font-size: 50px;
  height: 55px;
  color: #cdff42;
  margin: 0px 15px 0px 0px;
  position: relative;
}
.b5_auto:hover {
  color: #ffffff;
}

.controls {
  text-align: center;
}
