* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 426px) {
  .header {
    background-color: #ffffff;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
  }

  .header__wancho {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .h__contentlogo {
    width: 65px;
  }

  .h__logo {
    width: 100%;
    max-width: 65px;
    max-height: 65px;
  }

  .h__content-link {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    float: rigth;
  }

  .h__content-list {
    color: #000000;
    display: none;
    position: absolute;
  }
}