* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

section {
  width: 100%;
  max-width: 1024px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #9eff9e;
}
a:active {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}

@media screen and (max-width: 426px) {
  .header {
    height: 90px;
    justify-content: center;
    border-bottom: 2px solid #000;
  }

  .header__wancho {
    width: 20%;
  }

  .h__logo {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 426px) {
  .header {
    height: 90px;
    justify-content: center;
    border-bottom: 2px solid #000;
  }

  .header__wancho {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }

  .h__logo {
    position: relative;
    height: 100%;
  }
}
@media screen and (max-width: 426px) {
  .footer {
    width: 100%;
    height: 100px;
    justify-content: center;
    border-top: 2px solid #000;
  }

  .footer__wancho {
    width: 20%;
    position: relative;
  }

  .f__logo {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 426px) {
  .footer {
    width: 100%;
    height: 90px;
    justify-content: center;
    border-top: 2px solid #000;
  }

  .footer__wancho {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
  }

  .f__logo {
    position: relative;
    height: 100%;
  }
}
@media screen and (max-width: 426px) {
  .b1__card {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .b1__cardleft {
    width: 40%;
  }

  .b1__cardleft-img {
    width: 100%;
  }

  .b1__cardrigth-title {
    background-color: #000000;
    width: 60%;
    font-size: 20px;
    color: #ffffff;
  }

  .b1__cardrigth {
    background-color: #000000;
    width: 60%;
    margin-left: 20px;
    padding: 10px 5px 5px 5px;
  }
  .b1__cardrigth p {
    color: #ffffff;
  }
}
@media screen and (min-width: 426px) {
  .b1__card {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .b1__cardleft {
    width: 40%;
  }

  .b1__cardleft-img {
    width: 100%;
  }

  .b1__cardrigth-title {
    background-color: #000000;
    width: 60%;
    font-size: 20px;
    color: #ffffff;
  }

  .b1__cardrigth {
    background-color: #000000;
    width: 60%;
    margin-left: 20px;
    padding: 10px 5px 5px 5px;
  }
  .b1__cardrigth p {
    color: #ffffff;
  }
}
@media screen and (max-width: 426px) {
  .b2 {
    background-color: #ffffff;
  }

  .b2__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }

  .b2__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .b2__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (min-width: 426px) {
  .b2 {
    background-color: #ffffff;
  }

  .b2__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }

  .b2__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .b2__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (max-width: 426px) {
  .b3 {
    background-color: #ffffff;
    justify-content: center;
  }

  .b3__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }

  .b3__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .b3__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (min-width: 426px) {
  .b3 {
    background-color: #ffffff;
    justify-content: center;
  }

  .b3__title {
    position: relative;
    width: 60%;
    margin: 50px auto 10px auto;
    text-align: center;
  }

  .b3__content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .b3__item {
    width: 90%;
    margin: 20px auto 0 auto;
    background-color: #000000;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
  }
}