
*
    margin: 0
    padding: 0
    box-sizing: 0

a
    text-decoration: none
a:link, :visited, :hover, :active
    color: #fff


body
    display: flex
    position: relative
    width: 100wh
    height: 100vh
    justify-content: center
    align-items: center

.body-class--lite
    background: white
    color: black
    .content
        border: 2px solid black

.body-class--dark
    background: black
    color: white
    .content
        border: 1px solid white

.content
    width: calc( 100% - 50px )
    height: calc( 100% - 50px )
    display: flex
    justify-content: center
    align-items: center

.content-text
    text-align: center
    z-index: 100

.content-title
    z-index: 100

.content-subtitle
    z-index: 100

.content-title:hover
    font-size: 1.6em

.content-subtitle:hover
    font-size: 1.1em

.content-capa
    opacity: 0.3
    background-size: cover
    width: calc( 100% - 50px )
    height: calc( 100% - 50px )
    z-index: 1
    position: absolute
    pointer-events: none

.content-capa-2
    opacity: 0.1
    background-size: cover
    background-color: black
    width: calc( 100% - 50px )
    height: calc( 100% - 50px )
    z-index: 1
    position: absolute
    pointer-events: none

.footer
    position: absolute
    bottom: 0

.cursor
  border: 2px solid #00ff00
  background-color: rgba(0, 255, 0, 0.3)
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00
  border-radius: 50%

.content-data
    position: absolute
    top: 40px
    left: 40px
    z-index: 20
    h3, p
        font-size: 15px
    a:link, :visited
        color: blue


@media screen and (max-width: 426px)
    .content-data
        top: 25px
        left: 26px
        h3, p
            font-size: 12px


